---
layout: default
---

<header class="section">
    <div class="container">
        {% include blog-header.html %}
    </div>
</header>

<main class="section">
    <section class="container">
        {% for post in site.posts %}
        {% if post.title != 404 %}
        <p class="title is-4"><a class="has-text-black" href="{{ post.url }}">{{ post.title }}</a></p>
        {% if post.excerpt %}<p>{{ post.excerpt }}</p>{% endif %}
        {% if post.image %}<p><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></p>{% endif %}
        {% endif %}
        <hr>
        {% endfor %}
    </section>
</main>