---
layout: default
---

<main class="blog">
    {% include blog-header.html %}
    <section class="posts">
        {% for post in site.posts %}
        {% if post.title != 404 %}
        <p class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></p>
        {% if post.excerpt %}<p>{{ post.excerpt }}</p>{% endif %}
        {% if post.image %}<p><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></p>{% endif %}
        {% endif %}
        <hr>
        {% endfor %}
    </section>
</main>