<span class="icon is-medium">
    <a class="has-text-dark" href="https://twitter.com/{{ site.twitter_username }}" rel="noopener noreferrer"
        target="_blank">
        <i class="fab fa-twitter-square fa-2x"></i>
    </a>
</span>
<span class="icon is-medium">
    <a class="has-text-dark" href="https://github.com/{{ site.github_username }}" rel="noopener noreferrer"
        target="_blank">
        <i class="fab fa-github-square fa-2x"></i>
    </a>
</span>
<span class="icon is-medium">
    <a class="has-text-dark" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" rel="noopener noreferrer"
        target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
</span>