.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.064941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.065430;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.064941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.064941;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.230400px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.292480px;}
._0{margin-left:-1.140480px;}
._1{width:1.647360px;}
._3{width:2.858240px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:31.680000px;}
.fs3{font-size:40.320000px;}
.fs0{font-size:44.640000px;}
.fs2{font-size:56.160000px;}
.y0{bottom:0.000000px;}
.ye{bottom:2.160000px;}
.y5{bottom:2.880000px;}
.y7{bottom:3.240000px;}
.y4{bottom:12.270000px;}
.y10{bottom:13.680000px;}
.yd{bottom:14.040000px;}
.y6{bottom:19.110000px;}
.y3{bottom:21.630000px;}
.yc{bottom:25.560000px;}
.y1c{bottom:25.580000px;}
.y1f{bottom:25.590000px;}
.y1b{bottom:37.460000px;}
.y1e{bottom:37.470000px;}
.y1a{bottom:48.980000px;}
.y24{bottom:49.700000px;}
.y19{bottom:60.860000px;}
.y23{bottom:61.940000px;}
.y18{bottom:72.770000px;}
.y22{bottom:73.460000px;}
.y17{bottom:84.290000px;}
.y21{bottom:85.360000px;}
.y29{bottom:88.584000px;}
.y16{bottom:96.170000px;}
.y28{bottom:103.730000px;}
.y15{bottom:107.690000px;}
.y14{bottom:119.570000px;}
.y13{bottom:131.110000px;}
.y27{bottom:137.210000px;}
.y26{bottom:158.830000px;}
.y25{bottom:180.790000px;}
.y20{bottom:225.820000px;}
.y1d{bottom:330.620000px;}
.y12{bottom:387.530000px;}
.y11{bottom:538.440000px;}
.yf{bottom:571.940000px;}
.yb{bottom:616.970000px;}
.ya{bottom:661.610000px;}
.y9{bottom:676.390000px;}
.y8{bottom:690.430000px;}
.y2{bottom:707.350000px;}
.y1{bottom:745.900000px;}
.hd{height:11.880000px;}
.h8{height:23.400000px;}
.h3{height:26.822813px;}
.h2{height:29.184000px;}
.h6{height:34.138125px;}
.h7{height:34.920000px;}
.hc{height:34.944000px;}
.h5{height:35.280000px;}
.h1{height:46.405547px;}
.ha{height:46.824000px;}
.h4{height:47.549531px;}
.hb{height:94.728000px;}
.h9{height:140.830000px;}
.h0{height:792.000000px;}
.w4{width:90.792000px;}
.w2{width:173.980000px;}
.w3{width:174.360000px;}
.w5{width:413.520000px;}
.w1{width:611.999991px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:5.040000px;}
.x6{left:11.540000px;}
.x1{left:17.999991px;}
.x8{left:29.520000px;}
.xc{left:36.023991px;}
.x2{left:45.024000px;}
.x9{left:46.100000px;}
.xd{left:54.024000px;}
.xb{left:72.047991px;}
.xa{left:80.690000px;}
.x5{left:87.190000px;}
.xe{left:144.820000px;}
.x4{left:219.000000px;}
.x7{left:393.360000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.307200pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-3.056640pt;}
._0{margin-left:-1.520640pt;}
._1{width:2.196480pt;}
._3{width:3.810987pt;}
.fs1{font-size:42.240000pt;}
.fs3{font-size:53.760000pt;}
.fs0{font-size:59.520000pt;}
.fs2{font-size:74.880000pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:2.880000pt;}
.y5{bottom:3.840000pt;}
.y7{bottom:4.320000pt;}
.y4{bottom:16.360000pt;}
.y10{bottom:18.240000pt;}
.yd{bottom:18.720000pt;}
.y6{bottom:25.480000pt;}
.y3{bottom:28.840000pt;}
.yc{bottom:34.080000pt;}
.y1c{bottom:34.106667pt;}
.y1f{bottom:34.120000pt;}
.y1b{bottom:49.946667pt;}
.y1e{bottom:49.960000pt;}
.y1a{bottom:65.306667pt;}
.y24{bottom:66.266667pt;}
.y19{bottom:81.146667pt;}
.y23{bottom:82.586667pt;}
.y18{bottom:97.026667pt;}
.y22{bottom:97.946667pt;}
.y17{bottom:112.386667pt;}
.y21{bottom:113.813333pt;}
.y29{bottom:118.112000pt;}
.y16{bottom:128.226667pt;}
.y28{bottom:138.306667pt;}
.y15{bottom:143.586667pt;}
.y14{bottom:159.426667pt;}
.y13{bottom:174.813333pt;}
.y27{bottom:182.946667pt;}
.y26{bottom:211.773333pt;}
.y25{bottom:241.053333pt;}
.y20{bottom:301.093333pt;}
.y1d{bottom:440.826667pt;}
.y12{bottom:516.706667pt;}
.y11{bottom:717.920000pt;}
.yf{bottom:762.586667pt;}
.yb{bottom:822.626667pt;}
.ya{bottom:882.146667pt;}
.y9{bottom:901.853333pt;}
.y8{bottom:920.573333pt;}
.y2{bottom:943.133333pt;}
.y1{bottom:994.533333pt;}
.hd{height:15.840000pt;}
.h8{height:31.200000pt;}
.h3{height:35.763750pt;}
.h2{height:38.912000pt;}
.h6{height:45.517500pt;}
.h7{height:46.560000pt;}
.hc{height:46.592000pt;}
.h5{height:47.040000pt;}
.h1{height:61.874062pt;}
.ha{height:62.432000pt;}
.h4{height:63.399375pt;}
.hb{height:126.304000pt;}
.h9{height:187.773333pt;}
.h0{height:1056.000000pt;}
.w4{width:121.056000pt;}
.w2{width:231.973333pt;}
.w3{width:232.480000pt;}
.w5{width:551.360000pt;}
.w1{width:815.999988pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:6.720000pt;}
.x6{left:15.386667pt;}
.x1{left:23.999988pt;}
.x8{left:39.360000pt;}
.xc{left:48.031988pt;}
.x2{left:60.032000pt;}
.x9{left:61.466667pt;}
.xd{left:72.032000pt;}
.xb{left:96.063988pt;}
.xa{left:107.586667pt;}
.x5{left:116.253333pt;}
.xe{left:193.093333pt;}
.x4{left:292.000000pt;}
.x7{left:524.480000pt;}
}
