body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Abel, sans-serif;
    margin: 0 0 0 0;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 30%;
    height: 100vh;
    font-size: 1em;
}

header p {
    margin-top: 1%;
    text-align: center;
}

header h2 {
    margin-bottom: 0%;
}

header h3 {
    margin-bottom: 0%;
    margin-top: 0%;
}

.spacer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nav-down {
    padding-bottom: 40%;
}

main {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #2A2F36;
    font-weight: 600;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

::selection {
    background: #ee983d;
    color: #fff;
}

.intro {
    font-size: 3em;
}

.intro-image {
    max-width: 40%;
    height: auto;
}

.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.blog-title {
    border-bottom: 2px solid black;
}

.posts {
    overflow-y: scroll;
}

.posts::-webkit-scrollbar { width: 0 !important }

.posts { overflow: -moz-scrollbars-none; }

.posts { -ms-overflow-style: none; }

.post-title {
    font-size: 2em;
    margin-bottom: 0;
}

.title {
    border-bottom: 1px solid #d3d3d3;
}
