body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Abel, sans-serif;
    margin: 0 0 0 0;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 90%;
    font-size: 1em;
}

header p {
    margin-top: 1%;
    text-align: center;
}

header h2 {
    margin-bottom: 0%;
}

header h3 {
    margin-bottom: 0%;
    margin-top: 0%;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #2A2F36;
    font-weight: 600;
}

.intro {
    font-size: 2em;
}

.intro-image {
    display: none;
}

.blog {
    justify-content: start;
}

.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.blog-title {
    border-bottom: 2px solid black;
}

.post-page {
    justify-content: start;
}

.post {
    align-items: start;
    justify-content: start;
}

.post-title {
    font-size: 2em;
    margin-bottom: 0;
}

.title {
    border-bottom: 1px solid #d3d3d3;
}