<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <link rel="stylesheet" href="../assets/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
</head>

<body>
    <header>
        <img class="intro-image" src="{{ site.profile }}"></img>
        <a class="intro">{{ page.intro }}</a>
        <p>{{ page.tagline }}</p>
    </header>
    <main>
        {% include posts.html %}
    </main>
</body>
</html>