<!doctype html>

<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62551584-2"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-62551584-2');</script>

  <meta charset="utf-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" media="screen and (min-device-width: 1200px)" href="/assets/desktop.css" />
  <link rel="stylesheet" media="only screen and (max-device-width: 504px)" href="/assets/mobile.css" />
  <link rel="stylesheet" media="only screen and (min-device-width: 505px) and (max-device-width: 1200px)"
    href="/assets/tablet.css" />
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{ content }}
</body>

</html>