---
layout: default
---

<header class="section is-vcentered">
    <div class="container">
        <div class="columns is-centered is-hidden-mobile">
            <div class="column is-2">
                <figure class="image is-2by3">
                    <img src="{{ site.profile }}">
                </figure>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-6 has-text-centered">
                <p class="title is-2">{{ page.intro }}</p>
                <div class="content">{{ content }}</div>
                {% include social.html %}
            </div>
        </div>
    </div>
</header>